header {
  border: 1px blue;
}

.logo {
  font-size: 2rem;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
  background-color: skyblue;
  margin-top: 20px;
}
main article {
  flex: 2;
  overflow-y: auto;
}
.resized-image {
  width: 400px;
  height: auto;
}
main aside {
  flex: 1;
  color: navy;
}
main aside {
  flex: 1;
  overflow-y: auto;
}
nav ul {
  list-style: none;
  padding: 2;
  margin: 0;
}
nav ul li {
  display: inline;
  margin-right: 10px;
}
